---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.svelte";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<HeroBanner client:load />
	<!-- Next component/content -->
	<section class="h-screen bg-white flex items-center justify-center">
		<h2 class="text-4xl text-black">Next Section</h2>
	</section><div class="h-[200vh] bg-amber-500"></div>
</Layout>
